SpriteInfo(
    directional_sprites: [
        (
            path: "Assets/Proprietary/Animation/Main_heroes/Warrior",
            name: "warrior_male",
            sprite_dimensions: [
                ("Movement", [(18, 28), (18, 28), (17, 27), (17, 27)]),
                ("Idle", [(18, 27), (18, 27), (17, 27), (17, 27)]),
                ("Attack", [(29, 29), (32, 36), (31, 31), (31, 31)]),
                ("Death", [(24, 28), (27, 49), (35, 35), (36, 35)]),
                ("Taking damage", [(18, 26), (18, 27), (17, 27), (17, 27)])
            ]
        )
    ],
    sprites: [
        (
            path: "Assets/Proprietary/Tiles/Tiles.png",
            name: "tiles",
            sprite_dimensions: (16, 16)
        ),
        (
            path: "Assets/Proprietary/UI/Detailed_option/Detailed_option_Warrior.png",
            name: "warrior_male_ui",
            sprite_dimensions: (103, 46)
        ),
        (
            path: "Assets/Proprietary/UI/Detailed_option/Health_bar.png",
            name: "health_bar",
            sprite_dimensions: (41, 6)
        ),
        (
            path: "Assets/Proprietary/UI/Detailed_option/Magic_bar.png",
            name: "Magic Bar",
            sprite_dimensions: (40, 6)

        ),
        (
            path: "Assets/Proprietary/UI/Detailed_option/Experience_bar.png",
            name: "Experience Bar",
            sprite_dimensions: (41, 6)
        )
    ]
)
